.hobbies{
    display: flex;
    align-content: center;
}

.hobbies h2{
    color: #0F0C93;
}

h1{
    font-weight: 400;
    color: #800E0E;
    text-align: center;
    font-size: 50px;
}

.hobbies img{
    width: 20%;
    height: 45%;
}

